/* فونت فارسی */
@font-face {
  font-family: "Aseman";
  src: url("./g\ aseman.ttf") 
}
/* فونت انگلیسی */
@font-face {
  font-family: "Ubuntu";
  src: url("./fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}